<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="com.alfauz.orderme.logging">
  <Appenders>
    <RollingFile name="RollingFile"
      fileName="logs/orderme.log"
      filePattern="logs/orderme-%d{yyyy-MM-dd}-%i.log.zip">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="5 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="30"/>
    </RollingFile>
    <Console name="StandardOut" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="RollingFile"/>
      <AppenderRef ref="StandardOut"/>
    </Root>
    <Logger name="org.zahid" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
      <AppenderRef ref="StandardOut"/>
    </Logger>
  </Loggers>
</Configuration>